<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p class="bg-red-500 text-center">Peace of mind from prototype to production</p>

  <p class="bg-blue-500 text-center" x-data="{message: 'Alpine Works'}" x-text="message">Alpine does not work</p>
</section>
